<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Boxes</title>
    <%= stylesheet_link_tag 'styles', media: 'all' %>
</head>
<body>
    <div class="container">
        <div class="box box1" contenteditable="true" draggable="true">Topic 1</div>
        <div class="box box2" contenteditable="true" draggable="true">Topic 2</div>
        <div class="box box3" contenteditable="true" draggable="true">Topic 3</div>
    </div>
    <%= javascript_include_tag 'script' %>
</body>
</html>
